data/ filter=lfs diff=lfs merge=lfs -text
data/agrosuper filter=lfs diff=lfs merge=lfs -text
data/labelstudio filter=lfs diff=lfs merge=lfs -text
data/utils filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
crown-plaza/runs/detect/train/weights/best.pt filter=lfs diff=lfs merge=lfs -text
crown-plaza/runs/detect/train/weights/last.pt filter=lfs diff=lfs merge=lfs -text
